    <section class="section" style="background-color: #61a60e; background-image: url('../brick-wall.png');">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-2 is-offset-2" style="list-style: none;">
            <p class="subtitle" style="color: white;"><b>Navigation</b></p>
            <!-- <li style="color: #43dacc;"><a href="/events">Events</a></li> -->
            <li style="color: #43dacc;"><a href="/nutrition-prep" style="color: #fff;">Nutrition &amp; Prep</a></li>
            <li style="color: #43dacc;"><a style="color: #fff; cursor: pointer;" href="/health-safety">Health &amp; Safety</a></li>
            <li style="color: #43dacc;"><a style="color: #fff; cursor: pointer;" href="/how-it-works">How it works</a></li>
            <li style="color: #43dacc;"><a style="color: #fff; cursor: pointer;" href="/faq">FAQ's</a></li>
            <li style="color: #43dacc;"><a style="color: #fff; cursor: pointer;" href="/contact-us">Contact Us</a></li>
          </div>
          <div class="column is-2" style="list-style: none;">
            <p class="subtitle" style="color: white;"><b>Company</b></p>
            <li style="color: #43dacc;"><a style="color: #fff; cursor: pointer;" href="/calo-freaks">Our Team</a></li>
            <li style="color: #43dacc;"><a style="color: #fff; cursor: pointer;" href="/about-us">About Us</a></li>
          </div>
          <div class="column is-4">
            <p class="subtitle" style="color: white;"><b>Find Us Online</b></p>
            <a target="_blank" style="color: #3b5998; cursor: pointer;" href="https://www.facebook.com/CALOBOX/">
              <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>
            </a>
            <a target="_blank" style="color: #0084b4; cursor: pointer;" href="https://twitter.com/calobox">
              <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
            </a>
            <a target="_blank" style="color: #9b6954; cursor: pointer;" href="https://www.instagram.com/calobox/">
              <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </section>

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {

        // Get all "navbar-burger" elements
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

          // Add a click event on each of them
          $navbarBurgers.forEach(function ($el) {
            $el.addEventListener('click', function () {

              // Get the target from the "data-target" attribute
              var target = $el.dataset.target;
              var $target = document.getElementById(target);

              // Toggle the class on both the "navbar-burger" and the "navbar-menu"
              $el.classList.toggle('is-active');
              $target.classList.toggle('is-active');

            });
          });
        }

      });
    </script>

    <script id="cart-content-text-0" type="text/template">
      <div class="custom-snipcart-footer-text">
        <a class="button is-primary" href="/individual-snacks" target="_blank" style="font-family: 'Montserrat', sans-serif; background-color: #efe778; color: black; font-size: 13px; font-weight: 700;"><b>Continue Shopping</b></a>
      </div>
    </script>

    <script id="cart-content-text-1" type="text/template">
      <div class="custom-snipcart-footer-text" style="margin: 10px;">
        <h2><b>Information Regarding Payment</b></h2>
        <p>Currently we are only accepting <b>Cash On Delivery</b>. During the payment section, while you checkout, you will see the "<i>Pay Later</i>" button. You can make an order right now without any worries and pay us once your snacks have been delivered to you! An email receipt will be sent to you once the checkout is complete.</p>
      </div>
    </script>
