<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CaloBox ~ About Us</title>

    <% include ./partials/_seo %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="./styles/finalstyles.css">
    <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
    <!-- LIVE KEY DOWN BELOW -->
    <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="YzNjOWE1ZjktM2FjZi00ZjNjLWEwZWQtMTRkODUxYmI2NTlkNjM2NDc2OTQ3MzkwOTc1ODg1"></script>
    <!-- Start of Async Drift Code -->
    <script>
    !function() {
      var t;
      if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
      t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
      t.factory = function(e) {
        return function() {
          var n;
          return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
        };
      }, t.methods.forEach(function(e) {
        t[e] = t.factory(e);
      }), t.load = function(t) {
        var e, n, o, i;
        e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
        n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
      });
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('uiwc7v9cv4fx');
    </script>
    <!-- End of Async Drift Code -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="./scripts/cart.js"></script>
  </head>
  <body style="background-image: url('../brick-wall.png');">

    <% include ./partials/_navbar %>

    <section class="hero is-large" style="background-image: url('https://s3.us-east-2.amazonaws.com/caloimagesandvideos/Optimized-IMG_5836+(1).jpg'); background-size: cover;">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 style="font-family: 'Montserrat', sans-serif; font-size: 46px; font-weight: bold; color: white;">
            About Us
          </h1>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <h1 class="title">
          Making Healthy Exciting
        </h1>
        <p class="subtitle">
          Our mission at Calobox is to make healthy exciting. We are constantly in the kitchen trying to come up with great tasting, affordable and healthy snacks that can satisfy all your urges.
        </p>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <h1 class="title">
          Ways to get our products onto your taste buds!
        </h1>
        <br />
        <div class="columns is-centered">

          <div class="column is-one-third">
            <div class="card">
              <div class="card-image">
                <figure class="image is-3by3">
                  <img src="https://res.cloudinary.com/dg7wliucz/image/upload/v1515994396/logo/IMG_6561.jpg" alt="Calobox ~ ChocoRite ~ Healthy Chocolate-Seeds Granola">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <strong>Store shelfs near you.</strong> More info <a>coming soon!</a>
                  <br>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-one-third">
            <div class="card">
              <div class="card-image">
                <figure class="image is-3by3">
                  <img src="https://res.cloudinary.com/dg7wliucz/image/upload/v1515994552/logo/IMG_6562.jpg" alt="Calobox ~ Energy Bites ~ Healthy Date and Seeds Cubes">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <strong>Buy online right now!</strong> Receive them at your doorstep within days!
                  <br>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <br />
            <br />
            <h1 class="title">
              How Calobox works...
            </h1>
            <br />
            <p class="subtitle">
              You can shop our products right on this website! Learn how Calobox works to get started!
            </p>
            <br />
            <a class="button is-info" href="/how-it-works">How Calobox works</a>
          </div>
          <div class="column">
            <img src="https://res.cloudinary.com/dg7wliucz/image/upload/v1516054411/IMG_5855_ivt0vt.jpg" alt="Calobox ~ Energy Bites ~ Healthy Date and Seeds Cubes">
          </div>
        </div>
      </div>
    </section>

    <% include ./partials/_footer %>

  </body>
</html>
