<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>CaloBox</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/styles/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/styles/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>

  <nav class="white for-navigation" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo"><img src="/logo.jpg"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
          <!-- Modal Trigger -->
          <li><a class="waves-effect waves-light btn modal-trigger" href="login.html">Login</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <br />
  <br />
  <br />

  <div class="container">
    <div class="section">
      <div class="row col s12 center-align"><h4><u>Our Boxes</u></h4></div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">

        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <a href="/boxes">
              <img src="/calosavry.png">
              </a>
              <span class="card-title">CaloSavry</span>
            </div>
            <div class="card-content">
              <p>Six of the healthiest, and tastiest items from our selection, all rolled into one box.</p>
            </div>
            <div class="card-action">
              <!-- <a class="subscribe-btn" href="#">Subscribe</a> -->
              <a class="buy-btn" href="#"><form action="/charge" method="post">
              <script
              src="https://checkout.stripe.com/checkout.js"
              class="stripe-button"
              data-key="pk_test_zpgFMVyId6qVSFL5slAhndxM"
              data-amount="30000"
              data-name="CaloSavry"
              data-description="Sure to make your taste-buds tingle"
              data-locale="auto"
              data-currency="inr"></script>
              <input type="hidden" name="chargeAmount" value="30000">
              </form></a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="/background3.jpg">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <!-- <a class="subscribe-btn" href="#">Subscribe</a> -->
              <a class="buy-btn" href="#"><form action="/charge" method="post">
              <script
              src="https://checkout.stripe.com/checkout.js"
              class="stripe-button"
              data-key="pk_test_zpgFMVyId6qVSFL5slAhndxM"
              data-amount="30000"
              data-name="CaloSavry"
              data-description="Sure to make your taste-buds tingle"
              data-locale="auto"
              data-currency="inr"></script>
              <input type="hidden" name="chargeAmount" value="30000">
              </form></a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="/background3.jpg">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <!-- <a class="subscribe-btn" href="#">Subscribe</a> -->
              <a class="buy-btn" href="#"><form action="/charge" method="post">
              <script
              src="https://checkout.stripe.com/checkout.js"
              class="stripe-button"
              data-key="pk_test_zpgFMVyId6qVSFL5slAhndxM"
              data-amount="30000"
              data-name="CaloSavry"
              data-description="Sure to make your taste-buds tingle"
              data-locale="auto"
              data-currency="inr"></script>
              <input type="hidden" name="chargeAmount" value="30000">
              </form></a>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="/background3.jpg">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">

                <!-- <a class="subscribe-btn" href="#">Subscribe</a> -->
                <a class="buy-btn" href="#"><form action="/charge" method="post">
              <script
              src="https://checkout.stripe.com/checkout.js"
              class="stripe-button"
              data-key="pk_test_zpgFMVyId6qVSFL5slAhndxM"
              data-amount="30000"
              data-name="CaloSavry"
              data-description="Sure to make your taste-buds tingle"
              data-locale="auto"
              data-currency="inr"></script>
              <input type="hidden" name="chargeAmount" value="30000">
              </form></a>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/styles/js/materialize.js"></script>
  <script src="/styles/js/init.js"></script>

  </body>
</html>
