<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CaloBox ~ CaloClub</title>

    <% include ./partials/_seo %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="./styles/finalstyles.css">
    <!-- Start of Async Drift Code -->
    <script>
    !function() {
      var t;
      if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
      t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
      t.factory = function(e) {
        return function() {
          var n;
          return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
        };
      }, t.methods.forEach(function(e) {
        t[e] = t.factory(e);
      }), t.load = function(t) {
        var e, n, o, i;
        e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
        n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
      });
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('uiwc7v9cv4fx');
    </script>
    <!-- End of Async Drift Code -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous"></script>
  </head>
  <body>

    <% include ./partials/_navbar %>

    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column">
            <img src="./calo club A5 Size.png">
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container has-text-centered">
        <div class="columns is-centered">
          <div class="column" style="background-color: #40E0D0;">
            <img src="https://res.cloudinary.com/dg7wliucz/image/upload/v1515738349/logo/calo_club.png" alt="Calo Club Image">
          </div>
        </div>
      </div>
      <br />
      <div class="container has-text-centered">
        <h2>Signing up has multiple benefits!</h2>
        <br />
        <div class="columns is-centered">

          <!-- <div class="column is-one-third">
            <img src="./planner.png">
            <p class="subtitle is-4">
              <b>Member Events &amp; Special Discounts</b>
            </p>
          </div> -->

          <!-- <div class="column is-one-third">
            <p class="subtitle is-4">
              <b>Free Calo Snacks and Samples</b>
            </p>
            <img src="https://res.cloudinary.com/dg7wliucz/image/upload/v1516076359/IMG_6354_ljpxuz.jpg">
          </div>

          <div class="column is-one-third">
            <img src="./mail.png">
            <p class="subtitle is-4">
              <b>Member Events &amp; Special Discounts</b>
            </p>
          </div> -->

          <div class="column is-one-third">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="./planner.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media-content">
                  <p class="title is-4">Member Events &amp; Special Discounts</p>
                </div>
                <!-- <div class="content">
                  <p style="font-size: 20px;">Once you sign up, even if you dont buy anything, you're a member of our <a>Calo Club</a> for free! No hassle, plus you get free stuff!</p>
                  <br>
                </div> -->
              </div>
            </div>
          </div>

          <div class="column is-one-third">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="https://res.cloudinary.com/dg7wliucz/image/upload/v1516076359/IMG_6354_ljpxuz.jpg" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media-content">
                  <p class="title is-4">Free Calo Snacks and Samples</p>
                </div>
                <!-- <div class="content">
                  <p style="font-size: 20px;">Once you sign up, even if you dont buy anything, you're a member of our <a>Calo Club</a> for free! No hassle, plus you get free stuff!</p>
                  <br>
                </div> -->
              </div>
            </div>
          </div>

          <div class="column is-one-third">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="./mail.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media-content">
                  <p class="title is-4"></p>
                </div>
                <!-- <div class="content">
                  <p style="font-size: 20px;">Once you sign up, even if you dont buy anything, you're a member of our <a>Calo Club</a> for free! No hassle, plus you get free stuff!</p>
                  <br>
                </div> -->
              </div>
            </div>
          </div>

        </div>
      </div>
      <br />
      <br />
      <div class="container has-text-centered">
        <h2>Super easy to join! Sign up Online!</h2>
        <br />
        <a class="button is-large is-primary" href="/signup" style="font-family: 'Montserrat', sans-serif;">Join Now</a>
      </div>
    </section>

    <% include ./partials/_footer %>

  </body>
</html>
