<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CaloBox ~ Events</title>

    <% include ./partials/_seo %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="./styles/finalstyles.css">
    <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
    <!-- LIVE KEY DOWN BELOW -->
    <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="YzNjOWE1ZjktM2FjZi00ZjNjLWEwZWQtMTRkODUxYmI2NTlkNjM2NDc2OTQ3MzkwOTc1ODg1"></script>
    <!-- Start of Async Drift Code -->
    <script>
    !function() {
      var t;
      if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
      t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
      t.factory = function(e) {
        return function() {
          var n;
          return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
        };
      }, t.methods.forEach(function(e) {
        t[e] = t.factory(e);
      }), t.load = function(t) {
        var e, n, o, i;
        e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
        n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
      });
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('uiwc7v9cv4fx');
    </script>
    <!-- End of Async Drift Code -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/cart.js"></script>
  </head>
  <body style="background-image: url('../brick-wall.png');">

    <% include ./partials/_navbar %>

    <section class="section">
      <div class="container has-text-centered">
        <h2>
          Events
        </h2>
        <p class="subtitle">
          Our products are the perfect choice of snacks for multiple events.
        </p>
      </div>
    </section>

    <section class="section">
      <div class="container has-text-centered">
        <h2>Weddings</h2>
        <br />
        <div class="columns is-centered">
          <div class="column">
            <img src="https://cdn.shopify.com/s/files/1/2023/6647/files/Screen_Shot_2017-09-01_at_12.08.06_AM_2048x2048.png">
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column">
            <h3 class="title is-4">We provide for your special occasion...</h3>
            <br />
            <p class="subtitle is-4">
              Weddings are an important part of everyone's lives. The rituals, beliefs and preparations in an Indian Wedding are a sight to behold. Weddings are also a lot of work, especially for the people organising them.
            </p>
            <p class="subtitle is-4">
              CaloBox, with its aromatic and appetising products, provides you with healthy yet delicious snacks which would allow you to constantly keep yourself energised throughout the wedding preparations. Dance all you want! Our snacks will keep you energised throughout the day!
            </p>
            <br />
            <p class="subtitle is-4"><b>We want to help your wedding stand out. Talk to us through the little blue box on the right!</b></p>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container has-text-centered">
        <h2>Corporate Gifting</h2>
        <br />
        <div class="columns is-centered">
          <div class="column">
            <img src="https://cdn.shopify.com/s/files/1/2023/6647/files/ben-white-170529.jpg?">
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column">
            <h3 class="title is-4">Reward your employees and thank your clients/bosses with something they are sure to love!</h3>
            <br />
            <p class="subtitle is-4">
              Gifting in a corporate environment can at times be really tricky and challenging. You prefer to gift something that is appropriate for the occasion, thoughtful, and personalized. This is where personalised healthy snack boxes come in. It makes a suitable gift that any of your colleagues or clients will love receiving as it adds more value to their healthy wellbeing.
            </p>
            <p class="subtitle is-4">
              Our Corporate Big Boxes for festive seasons and celebrations have a combination of 4 small boxes. The price of one big corporate box would range anywhere between Rs. 350 to Rs. 530 depending on the combination of products that you choose. These boxes are completely customizable and we work with you to provide you exactly what you want. We do offer discounts on sizeable orders!
            </p>
            <br />
            <p class="subtitle is-4"><b>Contact us through the little blue box on the right!</b></p>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <img src="./caloProducts.JPG" alt="Placeholder image">
          </div>
          <div class="column">
            <br />
            <br />
            <h1 class="title">
              Corporate Gifting
            </h1>
            <br />
            <li class="subtitle">
                Subtitle ~ Point 1 why we are different and good
            </li>
            <li class="subtitle">
                Subtitle ~ Point 2 why we are so good and different
            </li>
            <li class="subtitle">
                Subtitle ~ Point 3 why we are so good and different
            </li>
          </div>
        </div>
      </div>
    </section> -->

    <% include ./partials/_footer %>

  </body>
</html>
