<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello Bulma!</title>
  <% include ./partials/_seo %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400|Roboto" rel="stylesheet">
  <link href="/styles/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body style="background-image: url(../brick-wall.png)">
  <% include ./partials/_navbar %>

  <section class="section">
    <div class="container has-text-centered">
      <div class="columns is-centered">
        <div class="column">


What is CaloBox?
CaloBox (a brand owned by CALOFOODS LLP) is an ideal mid-meal snacking service that allows
you to choose from a variety of snacks available on the website as well as other platforms, and
delivers these nutritious, tasty, on-the- go and affordable unique snacks right to your doorstep,
across India.

How can CaloBox help you?
Say Namaste to healthy wholesome nutrients that are essential in order to live a healthy
lifestyle!
The ingredients used to prepare our vibrant range of snacks are of superior quality that
matches with the highest nutritional standards. This implies that there&#39;s no wage of artificial
ingredients but only fresh and nutritious ingredients that ensures both good health and good
taste.

How are CaloBox’s unique snacks different?
Just about everything! CaloBox’s movement #CaloYou #CaloIndia makes it a daily (and for some
fans, an hourly) snacking buddy. However, the snacking industry is crowded with numerous
types of chips, cookies, and munchies that are conveniently stationed over the counter, almost
all these mass-produced snacks contain abundance of artificial flavours, synthetic colours, oils,
and other harmful additives. Carefully crafted snacks at CaloBox, on the other hand, have been
sourced to provide extremely pure and authentic ingredients that help you beinge freely.
CaloBox pledges to promote snacks which offers Protein, Omega 3, Energizers, Vitamins,
Minerals and Fibres, plus an incredible taste and low calories. Lastly, we aim to make snacking
fun &amp; healthy since our wide range of products makes sure you’re never bored… but we suggest
you experience that for yourself.

What does a CaloBox Box contain?
Browse through our state of the art health snack website to select various health snacks
options, the box will contain as many snacks as you’d like it to!

What sort of snacks are these?
CaloBox offers numerous heathy dry snacks that are packaged in easy-to- carry resealable
pouches, varying from roasties all the way to superfoods. All our snacks are 100% Vegan, Jain
Friendly and extremely tasty! CaloChef doesn’t rely on additives and preservatives to artificially
enhance the natural self-life of our snacks, thus making sure the snacks are fresh with a shelf
life of 3 months. Moreover, every pouch mentions the shelf life of each product within which it
should be consumed.

By when can I consume it?
CaloChef promises to deliver fresh and nutritious snacks, thus most of our snacks have an
average shelf life of 3 months or 90 days. However, we urge all our customers to check the back
sticker of your snack for details of the exact shelf life of your snack.

How does CaloBox ensure food quality and consistency?
Kindly refer to the Health &amp; Safety Tab for more information.

What is CaloClub?
Sign up to be part of our CaloBox Club and get in on exclusive promos, free snacks and the
latest buzz from your Calo Freaks (that&#39;s us!). Moreover, CaloClub is a reward program for all
health freaks to enrol in and avail various benefits and offers. #CaloClub
*Terms and Conditions Apply

How does CaloClub work and explain the enrolment process?
Once you’ve signed up, you’ll need to have a minimum purchase of Rs. 1000 to avail a free
snack which means you’ve accumulated 5CP’s since 1CP= Rs. 200. Therefore, every Rs.1000
spent avail any free snack from your health treasure chest. So, it’s not just an investment for a
better wellbeing but also being rewarded for maintaining a healthy lifestyle. Additionally,
receive our new product samples and share your views on our social media page.
*Terms and Conditions Apply

How do I pay?
Currently we only accept cash on delivery at checkout, but we're going to be accepting card payments really soon! Stay Tuned!

What cities do you serve?
We deliver all over India. Chat with the CEO through our chat wizard if you are unsure about
delivery to your specific area.

Can I Find CaloBox in Stores?
Currently, we are not in any retail stores!! CaloChef is still looking for promising distributors and
if you happen to be one please drop us a line at info@calobox.in or get in touch with the CEO
through the chat wizard. #CaloinStores #CaloYou #CaloIndia

Does CaloBox accept bulk orders and orders for gifting?
Yes, CaloBox is more than happy and excited to help you with bulk orders for parties, weddings,
baby showers, and other grand occasions. Your next question would be- have they received
bulk orders? Yes!! CaloBox was selected as Diwali Corporate Gift brand at a prominent firm in
Vadodara. So, let us start your gifting jourey #CaloStyle. For enquiry about bulk orders, do call
us at +91 7016049375 or email us at info@calobox.in We’ll reward you with special discounted
rates for bulk orders. We’re also prominent in gifting! What better gift than a box of
CaloSnacks? Browse our “events” page for more details.

Still have more questions?
Please do call us at +91 7016049375 or email us at info@calobox.in or chat directly with the
CEO through our chat wizard and we’ll be sure to have an encouraging answer for all your
questions! Looking forward to hearing from you soon! Join the #CaloCyle #CaloYou # CaloIndia



        </div>
      </div>
    </div>
  </section>

  <% include ./partials/_footer %>
</body>
</html>
