<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CaloBox ~ Health and Safety</title>

    <% include ./partials/_seo %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="./styles/finalstyles.css">
    <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
    <!-- LIVE KEY DOWN BELOW -->
    <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="YzNjOWE1ZjktM2FjZi00ZjNjLWEwZWQtMTRkODUxYmI2NTlkNjM2NDc2OTQ3MzkwOTc1ODg1"></script>
    <!-- Start of Async Drift Code -->
    <script>
    !function() {
      var t;
      if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
      t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
      t.factory = function(e) {
        return function() {
          var n;
          return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
        };
      }, t.methods.forEach(function(e) {
        t[e] = t.factory(e);
      }), t.load = function(t) {
        var e, n, o, i;
        e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
        n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
      });
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('uiwc7v9cv4fx');
    </script>
    <!-- End of Async Drift Code -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/cart.js"></script>
  </head>
  <body style="background-image: url('../brick-wall.png');">

    <% include ./partials/_navbar %>

    <section class="section">
      <div class="container has-text-centered">
        <h1 class="title">
          Health &amp; Safety
        </h1>
        <p class="subtitle">
          It's not a short-term diet. It's a long term lifestyle change.
        </p>
      </div>
    </section>

    <section class="section">
      <div class="container has-text-centered">
        <p class="subtitle">
          Our snacks taste amazing and are good for the body. We're confident about it. Our secret? All our snacks start at a home. They're cooked by loving hands in a kitchen with an intent to provide both, a decadent taste and a ton of nutrition. That is where our products evolve from. No bigger catch, no greed, just love.
        </p>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <br />
            <br />
            <h1 class="title">
              Sampling and Testing
            </h1>
            <br />
            <p class="subtitle">Our team carefully monitors and examines the quality and superiority of its products by assuring wholesome taste and nutrition. Our Chef, being the expert, differentiates our products well by ensuring the quality of the ingredients used to create the snacks thereby avoiding any deficient batch of products.</p>
          </div>
          <div class="column">
            <div class="columns is-centered">
              <div class="column is-offset-2">
                <img src="./sampling.png" alt="CaloBox ~ Sampling Icon">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section" >
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <div class="columns is-centered">
              <div class="column is-offset-2">
                <img src="./chefTouch.png" alt="CaloBox ~ Chef's Touch Icon">
              </div>
            </div>
          </div>
          <div class="column">
            <br />
            <br />
            <h1 class="title">
              The Calo Chef Touch
            </h1>
            <br />
            <p class="subtitle">The Calo team diligently inspects, monitors and examines the quality standards of the production process, beginning with the assembling and procuring of the ingredients, to the packaging of the nutritious, premium snacks primarily crafted by our highly innovative and experienced team.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="section" >
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <br />
            <br />
            <h1 class="title">
              Storage &amp; Hygiene Practices
            </h1>
            <br />
            <p class="subtitle">Hygiene and quality are the cornerstones that uphold the reputation and integrity of CaloBox.  Our healthy snacks are meticulously crafted and stored in strictly monitored and controlled facilities assuring premium level of hygiene, quality and overall maintenance of its processes and products.</p>
          </div>
          <div class="column">
            <div class="columns is-centered">
              <div class="column is-offset-2">
                <img src="./storage.png" alt="CaloBox ~ Storage Icon">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <% include ./partials/_footer %>

  </body>
</html>
