<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CaloBox ~ How It Works</title>

    <% include ./partials/_seo %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="./styles/finalstyles.css">

    <!-- Start of Async Drift Code -->
    <script>
    !function() {
      var t;
      if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
      t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
      t.factory = function(e) {
        return function() {
          var n;
          return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
        };
      }, t.methods.forEach(function(e) {
        t[e] = t.factory(e);
      }), t.load = function(t) {
        var e, n, o, i;
        e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
        n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
      });
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('uiwc7v9cv4fx');
    </script>
    <!-- End of Async Drift Code -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="YzNjOWE1ZjktM2FjZi00ZjNjLWEwZWQtMTRkODUxYmI2NTlkNjM2NDc2OTQ3MzkwOTc1ODg1"></script>
    <script type="text/javascript" src="./scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/cart.js"></script>
  </head>
  <body style="background-image: url('../brick-wall.png');">

    <% include ./partials/_navbar %>

    <section class="section">
      <div class="container has-text-centered">
        <h1 class="title">
          <u>How It Works</u>
        </h1>
      </div>

      <br />

      <div class="container">
        <div class="columns is-centered">

          <div class="column is-half has-text-centered">
            <img src="./siteLogo.png" alt="Placeholder image">
            <br />
            <p class="subtitle">1. Come onto our site.</p>
          </div>

        </div>

        <br />

        <div class="columns is-centered">

          <div class="column is-half has-text-centered">
            <img src="./downArrow.png" alt="Placeholder image">
            <!-- <br />
            <p class="subtitle">Come onto our site.</p> -->
          </div>

        </div>

        <br />

        <div class="columns is-centered">

          <div class="column is-half has-text-centered">
            <img src="./directionLogo.png" alt="Placeholder image">
            <br />
            <p class="subtitle">2. Select the pouches you like.</p>
          </div>

        </div>

        <br />

        <div class="columns is-centered">

          <div class="column is-half has-text-centered">
            <img src="./downArrow.png" alt="Placeholder image">
            <!-- <br />
            <p class="subtitle">Come onto our site.</p> -->
          </div>

        </div>

        <br />

        <div class="columns is-centered">

          <div class="column is-half has-text-centered">
            <img src="./buyLogo.png" alt="Placeholder image">
            <br />
            <p class="subtitle">3. Add them to cart and checkout.</p>
          </div>

        </div>

        <br />

        <div class="columns is-centered">

          <div class="column is-half has-text-centered">
            <img src="./downArrow.png" alt="Placeholder image">
            <!-- <br />
            <p class="subtitle">Come onto our site.</p> -->
          </div>

        </div>

        <br />

        <div class="columns is-centered">

          <div class="column is-half has-text-centered">
            <img src="./boxLogo.png" alt="Placeholder image">
            <br />
            <br />
            <h2 class="subtitle"><strong>VOILA!! YOUR VERY OWN CALOBOX IS ON ITS WAY!!</strong></h2>
          </div>

        </div>
      </div>
    </section>

<!--     <% if (!userID) { %>
      <section class="hero is-medium is-bold" style="background-color: #43dacc;">
        <br />
        <div class="content has-text-centered">
          <h2 class="subtitle" style="font-family: 'Montserrat', sans-serif; font-size: 20px;">
            <strong style="color: white;">KEEP IN TOUCH!</strong>
          </h2>
        </div>
        <br />
        <div class="content has-text-centered">
          <p class="subtitle" style="font-family: 'Roboto', sans-serif; color: white;">Sign up to get updates on product releases, special offers and other news.</p>
        </div>
        <br />
        <br />
        <br />
        <form method="" action="post">
          <div class="field has-addons has-addons-centered">
            <p class="control">
              <input class="input is-medium" type="text" placeholder="Your Email">
            </p>
            <p class="control">
              <a class="button is-medium is-info">
                Subscribe
              </a>
            </p>
          </div>
        </form>
        <br />
        <br />
      </section>
    <% } %> -->

    <% include ./partials/_footer %>

  </body>
</html>
