<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CaloBox ~ About Us</title>

    <% include ./partials/_seo %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="./styles/finalstyles.css">
    <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
    <!-- LIVE KEY DOWN BELOW -->
    <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="YzNjOWE1ZjktM2FjZi00ZjNjLWEwZWQtMTRkODUxYmI2NTlkNjM2NDc2OTQ3MzkwOTc1ODg1"></script>
    <!-- Start of Async Drift Code -->
    <script>
    !function() {
      var t;
      if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
      t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
      t.factory = function(e) {
        return function() {
          var n;
          return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
        };
      }, t.methods.forEach(function(e) {
        t[e] = t.factory(e);
      }), t.load = function(t) {
        var e, n, o, i;
        e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
        n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
      });
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('uiwc7v9cv4fx');
    </script>
    <!-- End of Async Drift Code -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="./scripts/cart.js"></script>
  </head>
  <body style="background-image: url('../brick-wall.png');">

    <% include ./partials/_navbar %>

    <section class="hero is-info is-medium">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            EVERYBODY HAS A STORY. OURS IS A LITTLE CHATPATA THAN MOST.
          </h1>
          <div style="padding:35% 0 0 0; position:relative;";>
            <iframe src="https://player.vimeo.com/video/266977662" allowFullScreen frameborder="0" mozallowfullscreen webkitAllowFullScreen style="position:absolute;top:0;left:0;width:100%;height:100%;">
            </iframe>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <h2 class="title">IT ALL STARTED WITH OUR HEALTH FREAK, YASH BHATIA.</h2>
            <br />
            <p class="subtitle">
              He is a health food guy before anyone said ‘health food.’ He realized that what we eat, directly effects the way we feel. Based on his belief and passion to change the mid-meal snacking behavior of many Indians, he worked to share his belief that whole foods are the best source of nutrition with anyone who’d listen. He and the Calo Chef are constantly tinkering with recipes, always discovering new ways to feed over millions in the workforce a healthy mid-meal snack on the go, between meetings, and travelling for work. One day, he propagated this vision to his college buddies and started this mission. The uniqueness in flavours such as the Protein “Namkeen”, Superfood Granolas and Seed Mixes took one bite, and declared, “it’s CaloBox!” And, from there, the brand was initiated.
            </p>
          </div>
          <div class="column">

          </div>
        </div>
      </div>
    </section>

    <section class="hero is-medium" style="background-image: url(https://eatlove.live/wp-content/uploads/2016/08/healthy-grains.jpg); background-size: cover; background-repeat: no-repeat;">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title" style="color: white;">
            Whole foods ARE THE ONLY ACCEPTABLE SOURCE OF NUTRITION FOR YOUR BODY.
          </h1>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column">

          </div>
          <div class="column is-half">
            <h2 class="title">OUR BRAND JOURNEY</h2>
            <br />
            <p class="subtitle">
              Here at CaloBox, we believe in living a healthy lifestyle without compromising any flavors. Our service helps you share this lifestyle with friends, family and clients. Why send a box of traditional sweets, when you can help them binge healthy with our range of affordable, healthy and tasty snacks! Our snack boxes are a favourite for companies and agencies across the country and we hope you take the chance and enjoy it too! 
            </p>
            <p class="subtitle">
              Delicious and nutritious office treats is a fantastic way to reward employees and impress visiting clients. Being nutritious allows your employees to remain mentally and physically fit in a highly stressful and demanding work environment. From customized to personalized snacks, we guarantee you’ll find what you’re looking for at CaloBox.
            </p>
            <p class="subtitle">
              “Our mission at Calobox is to make healthy exciting. We are constantly in the kitchen trying to come up with great tasting, affordable and healthy snacks that can satisfy all your urges”.
            </p>
          </div>
        </div>
      </div>
    </section>

    <% include ./partials/_footer %>

    <script src="https://player.vimeo.com/api/player.js"</script>
  </body>
</html>
