<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CaloBox ~ Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="./styles/finalstyles.css">
    <!-- Start of Async Drift Code -->
    <script>
    !function() {
      var t;
      if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
      t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
      t.factory = function(e) {
        return function() {
          var n;
          return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
        };
      }, t.methods.forEach(function(e) {
        t[e] = t.factory(e);
      }), t.load = function(t) {
        var e, n, o, i;
        e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
        n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
      });
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('uiwc7v9cv4fx');
    </script>
    <!-- End of Async Drift Code -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="./scripts/app.js"></script>
  </head>
  <body>

    <nav class="navbar is-transparent">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <!-- <img src="https://cdn.shopify.com/s/files/1/2023/6647/files/Logo.png" alt="Bulma: a modern CSS framework based on Flexbox"> -->
          <strong>Calobox</strong>
        </a>

        <div class="navbar-burger burger" data-target="navMenuTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navMenuTransparentExample" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link  is-active" href="/snack-boxes">
              Snack Boxes
            </a>
            <div class="navbar-dropdown is-boxed">
              <% for (var i = 0; i < dynamicNavBigBoxNames.length; i++) { %>
                <a class="navbar-item " href="/snack-boxes/<%= dynamicNavBigBoxNames[i].big_box_name %>">
                  <%= dynamicNavBigBoxNames[i].big_box_name %>
                </a>
              <% } %>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link  is-active" href="/individual-snacks">
              Individual Snacks
            </a>
            <div class="navbar-dropdown is-boxed">
              <% for (var i = 0; i < dynamicNavPouchNames.length; i++) { %>
                <a href="/individual-snacks/<%= dynamicNavPouchNames[i].pouch_name %>" class="navbar-item"><%= dynamicNavPouchNames[i].pouch_name %></a>
              <% } %>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <a class="bd-tw-button button" href="/login">
                  Login
                </a>
              </p>
              <p class="control">
                <a class="bd-tw-button button" href="/signup">
                  Sign Up
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        <h1 class="title">
          Sign up here to start buying our awesome snacks.
        </h1>
        <p class="subtitle">
          Already a <strong>CaloFreak</strong>? Log in <a href="/login">here.</a>
        </p>
      </div>
    </section>

    <div class="columns is-mobile is-centered">
      <div class="column is-one-quarter-desktop is-two-thirds-mobile is-two-thirds-tablet is-narrow">
        <form method="post" action="/signingUp" id="signupForm">
          <div class="field">
            <div class="control has-icons-left">
              <input class="input" type="text" placeholder="First Name" name="fName" id="fName" required>
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <div class="control has-icons-left">
              <input class="input" type="text" placeholder="Last Name" name="lName" id="lName" required>
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Phone Number" name="pNumber" id="pNumber" required minlength="10" maxlength="10">
              <span class="icon is-small is-left">
                <i class="fa fa-phone"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="email" placeholder="Email" name="email" id="email" required>
              <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="password" placeholder="Password" name="password" id="password" required>
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="password" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword" required>
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field is-grouped is-grouped-right">
            <p class="control">
              <input class="button is-primary" type="submit">
              </input>
            </p>
          </div>
        </form>
        <p class="subtitle" id="errorMessageHere"></p>
      </div>
    </div>

    <br />

    <section class="section" style="background-color: #001f3f;">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-2">
            <h3 style="color: white;">Navigation</h3>
            <br />
            <!-- <li style="color: #43dacc;"><a href="/events">Events</a></li> -->
            <li style="color: #43dacc;"><a href="/nutrition-prep">Nutrition &amp; Prep</a></li>
            <li style="color: #43dacc;"><a href="/health-safety">Health &amp; Safety</a></li>
            <li style="color: #43dacc;"><a href="/how-it-works">How it works</a></li>
            <li style="color: #43dacc;"><a href="/contact-us">Contact Us</a></li>
          </div>
          <div class="column is-2">
            <h3 style="color: white;">Company</h3>
            <br />
            <li style="color: #43dacc;"><a href="/calo-freaks">Our Team</a></li>
            <li style="color: #43dacc;"><a href="/about-us">About Us</a></li>
          </div>
          <div class="column is-2">
            <h3 style="color: white;">Calo Recipes</h3>
            <br />
            <li style="color: #43dacc;"><a href="#">Coming Soon!</a></li>
          </div>
          <div class="column is-4">
            <h3 style="color: white;">Find Us Online</h3>
            <br />
            <a class="button is-primary" style="color: white;" href="https://www.facebook.com/CALOBOX/">Facebook</a>
            <a class="button is-primary" style="color: white;" href="https://twitter.com/calobox">Twitter</a>
            <a class="button is-primary" style="color: white;" href="https://www.instagram.com/calobox/">Instagram</a>
            <a class="button is-primary" style="color: white;">ETC</a>
          </div>
        </div>
      </div>
    </section>


    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {

        // Get all "navbar-burger" elements
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

          // Add a click event on each of them
          $navbarBurgers.forEach(function ($el) {
            $el.addEventListener('click', function () {

              // Get the target from the "data-target" attribute
              var target = $el.dataset.target;
              var $target = document.getElementById(target);

              // Toggle the class on both the "navbar-burger" and the "navbar-menu"
              $el.classList.toggle('is-active');
              $target.classList.toggle('is-active');

            });
          });
        }

      });
    </script>
  </body>
</html>
